<div class="table-atrasos">
    <div class="table-title">
        <h4 class="h4">Atrasos</h4>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Horário Inicio</th>
                <th scope="col">Horário Fim</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Osvaldo Lima</td>
                <td>08:00</td>
                <td>17:00</td>
                <td>
                    <span class="material-icons edit">edit</span>
                    <span class="material-icons delete">delete</span>
                </td>
            </tr>
            <tr>
                <td>Ana Gusmão</td>
                <td>08:00</td>
                <td>17:00</td>
                <td>
                    <span class="material-icons edit">edit</span>
                    <span class="material-icons delete">delete</span>
                </td>
            </tr>
            <tr>
                <td>Cintia Lopes</td>
                <td>09:00</td>
                <td>18:00</td>
                <td>
                    <span class="material-icons edit">edit</span>
                    <span class="material-icons delete">delete</span>
                </td>
            </tr>
            <tr>
                <td>Ricardo Roberto</td>
                <td>09:00</td>
                <td>18:00</td>
                <td>
                    <span class="material-icons edit">edit</span>
                    <span class="material-icons delete">delete</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>