<div class="table-func">
    <div class="table-title">
        <h4 class="h4">Funcionários - Horários de Trabalho</h4>
        <button id="addFuncionarioButton" class="btn btn-info modalButton add-func" data-toggle="modal"
            data-target="#formFuncionarioModal">Adicionar</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Horário Inicio</th>
                <th scope="col">Horário Fim</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody id="tab-func-body">
            {{#each dados}}
            <tr>
                <td>{{nome}}</td>
                <td>{{horario_inicio}}</td>
                <td>{{horario_fim}}</td>
                <td>
                    <a class="modalButton edit-func" href="#" data-target="#formFuncionarioModal"><span class="material-icons edit">edit</span></a>
                    <a class="modalButton del-func" href="#" data-target="#exclusaoModal"><span class="material-icons delete">delete</span></a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<script src="/assets/js/templates.js"></script