<div class="table-hr-extra">
    <div class="table-title">
        <h4 class="h4">Horas Extras</h4>
    </div>
    <div class="funcionario-marc-grid">
        <label for="funcionarios">Funcionario</label>
        <select id="funcionarios" name="funcionarios" class="select2 custom-select" data-live-search="true">
            <option value="Osvaldo Lima">Osvaldo Lima</option>
            <option value="Ana Gusmão">Ana Gusmão</option>
            <option value="Cintia Lopes">Cintia Lopes</option>
            <option value="Ricardo Roberto">Ricardo Roberto</option>
        </select>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Horário Inicio</th>
                <th scope="col">Horário Fim</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Osvaldo Lima</td>
                <td>08:00</td>
                <td>17:00</td>
                <td>
                    <span class="material-icons edit">edit</span>
                    <span class="material-icons delete">delete</span>
                </td>
            </tr>
            <tr>
                <td>Ana Gusmão</td>
                <td>08:00</td>
                <td>17:00</td>
                <td>
                    <span class="material-icons edit">edit</span>
                    <span class="material-icons delete">delete</span>
                </td>
            </tr>
            <tr>
                <td>Cintia Lopes</td>
                <td>09:00</td>
                <td>18:00</td>
                <td>
                    <span class="material-icons edit">edit</span>
                    <span class="material-icons delete">delete</span>
                </td>
            </tr>
            <tr>
                <td>Ricardo Roberto</td>
                <td>09:00</td>
                <td>18:00</td>
                <td>
                    <span class="material-icons edit">edit</span>
                    <span class="material-icons delete">delete</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script src="/assets/js/templates.js"></script>
<script src="/assets/js/templates-select2.js"></script>