<div class="table-marc">
    <div class="table-title">
        <h4 class="h4">Marcações</h4>
        <button id="addMarcacaoButton" class="btn btn-info modalButton add-marc" data-toggle="modal"
            data-target="#formMarcacaoModal">Adicionar</button>
    </div>
    <div class="funcionario-marc-grid">
        <label for="funcionarios">Funcionario</label>
        <select id="funcionarios" name="funcionarios" class="select2 custom-select" data-live-search="true">
            <option value="Osvaldo Lima">Osvaldo Lima</option>
            <option value="Ana Gusmão">Ana Gusmão</option>
            <option value="Cintia Lopes">Cintia Lopes</option>
            <option value="Ricardo Roberto">Ricardo Roberto</option>
        </select>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Data</th>
                <th scope="col">Horário Inicio</th>
                <th scope="col">Horário Fim</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody id="tab-marc-body">
            {{#each dados}}
            <tr>
                <td>{{funcionario-nome}}</td>
                <td>{{data-marcacao}}</td>
                <td>{{horario_inicio}}</td>
                <td>{{horario_fim}}</td>
                <td>
                    <a class="modalButton edit-func" href="#" data-target="#formFuncionarioModal"><span class="material-icons edit">edit</span></a>
                    <a class="modalButton del-func" href="#" data-target="#exclusaoModal"><span class="material-icons delete">delete</span></a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<script src="/assets/js/templates.js"></script>
<script src="/assets/js/templates-select2.js"></script>